@font-face {
    font-family: 'Vazir';
    src: url('/static/fonts/Vazirmatn-Regular.woff2') format('woff2');
}
        /* General Reset */
* {
    font-family: 'Vazir';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for the form */
body {
    font-family: 'Vazir';
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
}

/* Login form */
.login-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

/* Input Fields */
.form-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #5c6bc0; /* Focus color */
}

.form-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #5c6bc0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #3f4a8b; /* Darker shade on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-form {
        padding: 30px;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }
    .form-title {
        font-size: 20px;
    }
}